/mvnw text eol=lf
*.cmd text eol=crlf
static/* linguist-vendored // it is ignore all of these files in static folder where is  css and other assets.
*.js linguist-detectable=false
*.css linguist-detectable=false
*.html linguist-detectable=false